
.class-1 span,.body-1{
	name:class-1;
}
.class-2,p,.body-2,.body-3{
	name:class-2;
}
div.body-4 .class-1,.other-body .class-1,div.body-4,.other-body{
	name:class-1 in body-4;
}
div 10% div 20%{
	left:20px;
}