body{
	line-height:1.4em;
	max-width:42em;
}
body p{
	left:20px;
}
#markdown{
	left:20px;
}
#markdown body{
	line-height:1.4em;
	max-width:42em;
}
#markdown body p{
	left:20px;
}
@media screen and (max-width: 200px){
	body{
		line-height:1.4em;
		max-width:42em;
	}
	body p{
		left:20px;
	}
}
body{
	name:"_import2.mcss";
}
body{
	line-height:1.4em;
	max-width:42em;
}
body p{
	left:20px;
}