
.btn-small{
	font-size:12px;
}
.btn-base{
	font-size:16px;
}
.btn-large{
	font-size:20px;
}
.btn-huge{
	font-size:24px;
}
.btn-1{
	font-size:0px;
}
.btn-2{
	font-size:1px;
}
[class*=icon-]{
	background-image:url("http://www.163.com//path/to/icon.png") -9999px -9999px;
}
.icon-glass{
	background-position:0px;
}
.icon-music{
	background-position:24px;
}
.icon-search{
	background-position:-48px;
}
.icon-envelope{
	background-position:72px;
}
.icon-heart{
	background-position:-96px;
}
.icon-star{
	background-position:120px;
}
.icon-star{
	background-position:-144px;
}
.icon-user{
	background-position:168px;
}
.icon-film{
	background-position:-192px;
}
.icon-th{
	background-position:216px;
}
.icon-th{
	background-position:-240px;
}
.icon-th{
	background-position:264px;
}
.icon-ok{
	background-position:-288px;
}
.icon-remove{
	background-position:312px;
}
.icon-zoom{
	background-position:-336px;
}
.icon-zoom{
	background-position:360px;
}
.icon-off{
	background-position:-384px;
}
.icon-signal{
	background-position:408px;
}
.icon-cog{
	background-position:-432px;
}
.icon-trash{
	background-position:456px;
}
.icon-home{
	background-position:24px;
}
.icon-file{
	background-position:0px;
}
.icon-time{
	background-position:-24px;
}
.icon-road{
	background-position:48px;
}
.icon-download{
	background-position:-72px;
}
.icon-download{
	background-position:96px;
}
.icon-upload{
	background-position:-120px;
}
.icon-inbox{
	background-position:144px;
}
.icon-play{
	background-position:-168px;
}
.icon-repeat{
	background-position:192px;
}
.icon-refresh{
	background-position:-216px;
}
.icon-list{
	background-position:240px;
}
.icon-lock{
	background-position:-264px;
}
.icon-flag{
	background-position:288px;
}
.icon-headphones{
	background-position:-312px;
}
.icon-volume{
	background-position:336px;
}
.icon-volume{
	background-position:-360px;
}
.icon-volume{
	background-position:384px;
}
.icon-qrcode{
	background-position:-408px;
}
.icon-barcode{
	background-position:432px;
}
.icon-tag{
	background-position:48px;
}
.icon-tags{
	background-position:-24px;
}
.icon-book{
	background-position:0px;
}
.icon-bookmark{
	background-position:24px;
}
.icon-print{
	background-position:-48px;
}
.icon-camera{
	background-position:72px;
}
.icon-font{
	background-position:-96px;
}
.icon-bold{
	background-position:120px;
}
.icon-italic{
	background-position:-144px;
}
.icon-text{
	background-position:168px;
}
.icon-text{
	background-position:-192px;
}
.icon-align{
	background-position:216px;
}
.icon-align{
	background-position:-240px;
}
.icon-align{
	background-position:264px;
}
.icon-align{
	background-position:-288px;
}
.icon-list{
	background-position:312px;
}
.icon-indent{
	background-position:-336px;
}
.icon-indent{
	background-position:360px;
}
.icon-facetime{
	background-position:-384px;
}
.icon-picture{
	background-position:408px;
}
.icon-pencil{
	background-position:72px;
}
.icon-map{
	background-position:-48px;
}
.icon-adjust{
	background-position:24px;
}
.icon-tint{
	background-position:0px;
}
.icon-edit{
	background-position:-24px;
}
.icon-share{
	background-position:48px;
}
.icon-check{
	background-position:-72px;
}
.icon-move{
	background-position:96px;
}
.icon-step{
	background-position:-120px;
}
.icon-fast{
	background-position:144px;
}
.icon-backward{
	background-position:-168px;
}
.icon-play{
	background-position:192px;
}
.icon-pause{
	background-position:-216px;
}
.icon-stop{
	background-position:240px;
}
.icon-forward{
	background-position:-264px;
}
.icon-fast{
	background-position:288px;
}
.icon-step{
	background-position:-312px;
}
.icon-eject{
	background-position:336px;
}
.icon-chevron{
	background-position:-360px;
}
.icon-chevron{
	background-position:384px;
}
.icon-plus{
	background-position:96px;
}
.icon-minus{
	background-position:-72px;
}
.icon-remove{
	background-position:48px;
}
.icon-ok{
	background-position:-24px;
}
.icon-question{
	background-position:0px;
}
.icon-info{
	background-position:24px;
}
.icon-screenshot{
	background-position:-48px;
}
.icon-remove{
	background-position:72px;
}
.icon-ok{
	background-position:-96px;
}
.icon-ban{
	background-position:120px;
}
.icon-arrow{
	background-position:-144px;
}
.icon-arrow{
	background-position:168px;
}
.icon-arrow{
	background-position:-192px;
}
.icon-arrow{
	background-position:216px;
}
.icon-share{
	background-position:-240px;
}
.icon-resize{
	background-position:264px;
}
.icon-resize{
	background-position:-288px;
}
.icon-plus{
	background-position:312px;
}
.icon-minus{
	background-position:-336px;
}
.icon-asterisk{
	background-position:360px;
}
.icon-exclamation{
	background-position:120px;
}
.icon-gift{
	background-position:-96px;
}
.icon-leaf{
	background-position:72px;
}
.icon-fire{
	background-position:-48px;
}
.icon-eye{
	background-position:24px;
}
.icon-eye{
	background-position:0px;
}
.icon-warning{
	background-position:-24px;
}
.icon-plane{
	background-position:48px;
}
.icon-calendar{
	background-position:-72px;
}
.icon-random{
	background-position:96px;
}
.icon-comment{
	background-position:-120px;
}
.icon-magnet{
	background-position:144px;
}
.icon-chevron{
	background-position:-168px;
}
.icon-chevron{
	background-position:192px;
}
.icon-retweet{
	background-position:-216px;
}
.icon-shopping{
	background-position:240px;
}
.icon-folder{
	background-position:-264px;
}
.icon-folder{
	background-position:288px;
}
.icon-resize{
	background-position:-312px;
}
.icon-resize{
	background-position:336px;
}
.icon-hdd{
	background-position:144px;
}
.icon-bullhorn{
	background-position:-120px;
}
.icon-bell{
	background-position:96px;
}
.icon-certificate{
	background-position:-72px;
}
.icon-thumbs{
	background-position:48px;
}
.icon-thumbs{
	background-position:-24px;
}
.icon-hand{
	background-position:0px;
}
.icon-hand{
	background-position:24px;
}
.icon-hand{
	background-position:-48px;
}
.icon-hand{
	background-position:72px;
}
.icon-circle{
	background-position:-96px;
}
.icon-circle{
	background-position:120px;
}
.icon-circle{
	background-position:-144px;
}
.icon-circle{
	background-position:168px;
}
.icon-globe{
	background-position:-192px;
}
.icon-wrench{
	background-position:216px;
}
.icon-tasks{
	background-position:-240px;
}
.icon-filter{
	background-position:264px;
}
.icon-briefcase{
	background-position:-288px;
}
.icon-fullscreen{
	background-position:312px;
}