@-o-keyframes shake{
	from{
		transform:translate(0,0);
	}
	10%,20%{
		transform:translate(0,0);
	}
	20%{
		transform:translate(0,0);
	}
	to{
		transfrom:translate(0,0);
	}
}
@keyframes hello{
	from{
		transform:scaleX(0);
	}
	10%{
		transform:scaleX(0);
	}
	20%{
		transform:scaleX(0);
	}
	to{
		transfrom:scaleX(0);
	}
}
@-webkit-keyframes hello{
	from{
		transform:scaleX(0);
	}
	10%{
		transform:scaleX(0);
	}
	20%{
		transform:scaleX(0);
	}
	to{
		transfrom:scaleX(0);
	}
}
@-moz-keyframes hello{
	from{
		transform:scaleX(0);
	}
	10%{
		transform:scaleX(0);
	}
	20%{
		transform:scaleX(0);
	}
	to{
		transfrom:scaleX(0);
	}
}
@-ms-keyframes hello{
	from{
		transform:scaleX(0);
	}
	10%{
		transform:scaleX(0);
	}
	20%{
		transform:scaleX(0);
	}
	to{
		transfrom:scaleX(0);
	}
}
@-o-keyframes hello{
	from{
		transform:scaleX(0);
	}
	10%{
		transform:scaleX(0);
	}
	20%{
		transform:scaleX(0);
	}
	to{
		transfrom:scaleX(0);
	}
}
@keyframes name{
	from{
		transform:scaleX(0);
	}
	10%,100%{
		transform:scaleX(0);
	}
	20%{
		transform:scaleX(0);
	}
	to{
		transfrom:scaleX(0);
	}
}
@-webkit-keyframes name{
	from{
		transform:scaleX(0);
	}
	10%,100%{
		transform:scaleX(0);
	}
	20%{
		transform:scaleX(0);
	}
	to{
		transfrom:scaleX(0);
	}
}
@-moz-keyframes name{
	from{
		transform:scaleX(0);
	}
	10%,100%{
		transform:scaleX(0);
	}
	20%{
		transform:scaleX(0);
	}
	to{
		transfrom:scaleX(0);
	}
}
@-ms-keyframes name{
	from{
		transform:scaleX(0);
	}
	10%,100%{
		transform:scaleX(0);
	}
	20%{
		transform:scaleX(0);
	}
	to{
		transfrom:scaleX(0);
	}
}
@-o-keyframes name{
	from{
		transform:scaleX(0);
	}
	10%,100%{
		transform:scaleX(0);
	}
	20%{
		transform:scaleX(0);
	}
	to{
		transfrom:scaleX(0);
	}
}