body{
	left:20px \9;
	_left:30px;
	*left:20px;
	left:20px 찑;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='', GradientType=0);
	filter:alpha(opacity = 0.2,stop = 2);
	filter:4096;
}