valueType{
	dimension-number:10,20,30;
	dimension-percent:10%,20%,30%;
	dimension:10px,10em,10pt,10em;
	color-hsl:#31382e;
	color-hsla:rgba(49,56,46,0.1);
	color-rgb:#64aa14;
	color-rgba:rgba(100,255,20,0.1);
	color-hash:#ccddee;
	text:hello-mcss;
	oq-string:"hello-mcss";
	tq-string:"hello-mcss";
	values:10px #ffffff hello;
	valueslist:10px #ffffff,hello,20px;
}